<h1>New Passport contact</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.passport_contact_path(@conn, :create)) %>

<span><%= link "Back", to: Routes.passport_contact_path(@conn, :index) %></span>
