<h1>Edit Media type</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.media_type_path(@conn, :update, @media_type)) %>

<span><%= link "Back", to: Routes.media_type_path(@conn, :index) %></span>
