<h1>New Person pronoun kit</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.person_pronoun_kit_path(@conn, :create)) %>

<span><%= link "Back", to: Routes.person_pronoun_kit_path(@conn, :index) %></span>
